*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    /* text-decoration: none; */
}
    

html{
    scroll-behavior: smooth;
}


/*---------------------------------------------------------Home_page--------------------------------------------------------------------------------------*/


body{
    background-color: black;
}

/*Navbar*/

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.651);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: #eeeeff;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: #7f7caf83;
    color: #1d1e18;
    box-shadow: 0 0 10px #7f7caf83;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.377);
    height: 830px;
    justify-content: center;
    align-items: center;
    color: #ffffffce ;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/klavi_bg.jpg) no-repeat center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .9;

}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
   
   
}
.headings{
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    text-align: center;
    margin:40px 0px;
}


.btn{
    padding: 10px 35px;
    background: transparent;
    background-color: rgba(128, 128, 128, 0.219);
    border: 1px solid white;
    color: #eeeeff;
    outline: none;
    transition: .6s ease;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2rem;
    border-radius: 20px;
}
.btn:hover{
    cursor: pointer;
    background-color:white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* About Section */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.897);
    color: #ffffffce;
}
.gitinfo{
    text-align: center;
}
.gitinfo a{
    font-family:'Open Sans Condensed', sans-serif;
    color: #ffffffce;
    font-weight: 600;
}
.gitinfo a:hover{
    color: red;
}

#pic{
    display: flex;
    
}

#pic img{
    margin-top: 3rem;
    width: 366px;
    height: 488px;
    border-radius: 20px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    

}
#intro h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'Amatic SC', cursive;
}
#intro p {
    font-size: 1.9rem;
    padding: 2%;
    line-height: 150%;
    font-family:'Open Sans Condensed', sans-serif;
}
#intro h3{

    font-size: 1.3rem;
    padding-top: .2rem;
    padding-bottom: 1.3rem;
}

#experience {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.exlogo{
    display: flex;
    flex-direction: column;
    align-items: center ;
    font-family:'Open Sans Condensed', sans-serif;
    
}   

#experience img{
    width: 100%;
    
    
}



/*Porfolio Section */

#portfolio{
    display: flex;
    flex-direction: column;
    background-color:rgba(128, 128, 128, 0.158);
    color: #ffffffce;
    align-items: center;
    padding: 20px;
    font-family:'Open Sans Condensed', sans-serif;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 500px;
    height: 333px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}


/* Services Section */

.services, h2{
color: #ffffffce;
padding-top: 20px;
}


#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
   
    
    
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-image: url(../img/black-bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 550px;
    height:800px;
    border: 1px solid black;
    margin: 20px;
    align-items: center;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to top, rgb(147,22,33)50%, #eeeeff 50%);
    background-size: 100% 200%;
    transition: all .8s;
}


.box .headings{
    font-size: 4rem;
    margin-top: 1%;
    margin-bottom: 2%;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border:none;
    box-shadow: 0 0 20px rgb(147,22,33);
}

.box ul {
    margin-top: 4%;
    text-align: center;
    list-style: none;
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    
}
.box ul li {
    padding-top: 2%;
    padding-bottom: 2%;
}

.box p{
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.careIcon{
    font-size: 5.5rem;
    margin-bottom: 2%;
}

.headingsCard{
    font-size: 4rem;
    /* font-family: 'Amatic SC', cursive; */
   
}

.price{
    margin-top: 1%;
    margin-bottom: 1%;
    color: red;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
   /*  font-family: 'Amatic SC', cursive; */
    font-weight:700;
}

.t-button{
    font-size: 2rem;
    margin-top: .5%;
    margin-left: 5%;
    align-self: flex-end;
    color: black;
    /* font-family: 'Amatic SC', cursive; */
}
.t-button:hover{
    color: whitesmoke;
}

.box img{
    width: 80px;
    height: 80px;
}



/*------------------------------------------Contact Section------------------------------------*/
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
 /*    box-sizing: border-box; */
    background-color: rgba(0, 0, 0, 0.897);
    color: #ffffffce;
    padding: 20px;
    margin-bottom: 100px;
}
.form{
    background: url(../img/massageBg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
    /* outline: 1px solid whitesmoke; */
    padding-top: 40px;
    padding-bottom:40px;
    width: 80%;
   
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1.3rem;
    background-color: rgba(245, 245, 245, 0.856);

}

#msg{
    width: 40%;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1.3rem;
    background-color: rgba(245, 245, 245, 0.856);
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
  
}


/* Footer Section */


footer{
    background-color:rgba(245, 245, 245, 0.158);
    color: whitesmoke;
}
footer a {
    text-decoration: none;
}
#footerBox{
    display: flex;
    justify-content: space-between;
    height:auto;

}
/*---------------------Logo-----------------------------------*/
.logoBox{
    height: 168px;
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-left:4vh ;
    
}

.logoBox img{
    width: 10vh;
    margin-top: 15px;
}

/*-------------------Social Icon@tell,email--------------------*/
.socialBox{
    height: 168px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.socialIcon{
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.socialIcon .fa{
    font-size: 2.6rem;
    text-decoration: none;
    color: whitesmoke;
}
.socialIcon .fa:hover{
    color: red;
}
.tel a{
    color: whitesmoke;
    font-size: 1.5rem;
}
.tel a:hover{
    color: red;
}

.email a{
    color: whitesmoke;
    font-size: 1.5rem;
}

.email a:hover{
    color: red;
}


/*----------------------TextBox---------------------------------*/
.textBox{
   /*  outline: 1px solid whitesmoke;
    background-color: wheat; */
    height: 168px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
 /*    padding-right:8vh ; */
}
.textBox a{
    color: whitesmoke;
    font-size: 1.2rem;
}

.textBox a:hover{
    color: red;
}



/*---------------------Copy------------------------------------*/
#cpoyArea{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    letter-spacing: .7rem;
}




/*------- Alapcsomag, Közepes csomag, Nagy csomag, Extra csomag------------------------ */


#pageHeader{
    height: 830px;
    width: 100%;
    background-image: url(../img/klavi_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

#textSection{
    height: auto;
    width: 90%;
    margin-top: -700px;
    background-color:rgba(128, 128, 128, 0.911);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: whitesmoke;
    
}
.boxItem{
    outline: solid 1px whitesmoke;
    text-align: center;
}

.boxItem h3{
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    padding: 1%;

}

#cardMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*----------------Gallery-----------------------------*/

.galleryButton{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1%;
    margin-top: 1%;
    
}

.galleryButton button{
    margin: 7px;
}
.galleryButton button.active{
    background-color:white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
.gallery{
    display: flex;
    justify-content: center;
    
}
.gallery .image.hide{
    display: none;
    
}
.gallery .image.show{
    animation: animate 0.4s ease;
    
}
@keyframes animate{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
    
}
.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transform: all 0.3s ease;
}
.gallery .image:hover img{
    transform: scale(1.1);
}
